<div class="dashboard-wrapper">
  <div class="lane-visualizer-container"
       [style.width.px]="VIEWPORT_WIDTH"
       [style.height.px]="VIEWPORT_HEIGHT">
    <svg [attr.width]="VIEWPORT_WIDTH" [attr.height]="VIEWPORT_HEIGHT" [ngClass]="{ 'fade-in': fadeSignal(), 'svg-path-class': true }">>
      <path
        [attr.d]="lanePath"
        [attr.stroke-width]="laneWidthPx"
        stroke="#88E788"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>

      <ng-container *ngFor="let item of laneVertices">
        <svg:g>
          <ng-container [ngSwitch]="getVertexShape(item.vertex.vertexType)">
            <ng-container *ngSwitchCase="'circle'">
              <svg:circle
                [attr.cx]="item.screenCoords.coordinates[0]"
                [attr.cy]="item.screenCoords.coordinates[1]"
                r="15"
                [attr.fill]="getVertexColor(item.vertex.vertexType)"
                stroke="white" stroke-width="2">
              </svg:circle>
            </ng-container>

            <ng-container *ngSwitchCase="'rect'">
              <svg:rect
                [attr.x]="item.screenCoords.coordinates[0] - 15"
                [attr.y]="item.screenCoords.coordinates[1] - 15"
                width="30" height="30"
                [attr.fill]="getVertexColor(item.vertex.vertexType)"
                stroke="white" stroke-width="2">
              </svg:rect>
            </ng-container>

            <ng-container *ngSwitchCase="'triangle'">
              <svg:polygon
                [attr.points]="getTrianglePoints(item.screenCoords.coordinates[0], item.screenCoords.coordinates[1], 30)"
                [attr.fill]="getVertexColor(item.vertex.vertexType)"
                stroke="white" stroke-width="2">
              </svg:polygon>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <svg:circle
                [attr.cx]="item.screenCoords.coordinates[0]"
                [attr.cy]="item.screenCoords.coordinates[1]"
                r="15"
                [attr.fill]="getVertexColor(item.vertex.vertexType)"
                stroke="white" stroke-width="2">
              </svg:circle>
            </ng-container>
          </ng-container>

          <svg:text *ngIf="item.vertex.name"
            [attr.x]="item.screenCoords.coordinates[0]"
            [attr.y]="item.screenCoords.coordinates[1] + 30"
            font-size="28px"
            font-weight="bold"
            fill="black"
            dominant-baseline="hanging"
            text-anchor="middle">
            {{ item.vertex.name }}
          </svg:text>
        </svg:g>
      </ng-container>
    </svg>
  </div>
</div>