body {
  margin: 0;
}

:root {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lane-switcher {
  padding: 10px;
  background-color: #333;
  color: white;
  text-align: center;
  flex-shrink: 0; /* Don't let it shrink */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.lane-switcher button {
  background-color: #555;
  color: white;
  border: 1px solid #777;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}
.lane-switcher button:hover {
  background-color: #777;
}
.lane-switcher button.active-lane {
  background-color: #007bff;
  border-color: #007bff;
}
